<div class="row justify-content-between">
  <% @alpacas.each do |alpaca| %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="alpaca">
      <div class="alpaca-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('<%= cl_image_path alpaca.photo, width: 700, crop: :fill %>')"></div>
      <div class="alpaca-details">
        <div class="alpaca-owner-row"><%= image_tag("sexyfarmer.jpg", class: "alpaca-owner avatar-medium") %></div>
        <div class="alpaca-name"><h3><%= alpaca.name %></h3></div>
        <div class="alpaca-color"> <%= "color: #{alpaca.color}" %></div>
        <div class="alpaca-age"><%= "age: #{alpaca.age}" %></div>
        <div class="alpacas-reviews_count"><%= alpaca.reviews.length %> reviews</div>
        <div class="alpacas-price"><strong><%= alpaca.price %>€</strong></div>
        <div class="alpaca-action text-center"></div>
      </div>
      <%= link_to "Show", alpaca_path(alpaca), class: "btn btn-yellow"  %>
    </div>
  </div>
  <% end %>
</div>

