<div class="wrapper">
  <div class="container">
    <div class="grid">
      <div class="picture-frame">
        <img id="alpaca-picture" src="https://images.unsplash.com/photo-1518259102261-b40117eabbc9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
        <div class="avatar-large alpaca-owner"></div>
      </div>
      <div class="alpaca-key-info">
        <h2><%= @alpaca.name %></h2>
        <p>Bairro Alto, Lisbon</p>
        <p><strong><%= @alpaca.price %>€</strong></p>
      </div>
      <div class="alpaca-description">
        <p>This couple isn't actually here to serve you, in fact they're in need of couple therapy so please help if you can...</p>
      </div>
      <div class="alpaca-rating">
        <div class="inline">
          <div class="rating-block">
            <div>
              <p><strong>
              <%= @alpaca.reviews.average(:rating).to_s %>
              </strong></p>
            </div>
          </div>
          <div>
            <h4 class="kill-margin-top kill-margin-bottom">Naked Farmer</h4>
            <p class="kill-margin-top kill-margin-bottom" id=reviews-number>3000 reviews</p>
          </div>
        </div>
        <div class="inline space-between user-rating">
          <div><p>Naked Farmer's Rating</p></div>
          <div><p>8.6</p></div>
        </div>
        <div class="rating-bar"></div>
        <div class="inline space-between user-rating">
          <div><p>Romeo's Rating</p></div>
          <div><p>8.6</p></div>
        </div>
        <div class="rating-bar"></div>
      </div>
      <div class="alpaca-reviews">
        <% @alpaca.reviews.each do |review| %>
          <div class="review">
            <div class="inline">
              <div class="avatar-small"></div>
                <div class="reviewer">
                  <div><p><strong><%= review.user.email %></strong></p></div>
                  <div><p>X Days ago</p></div>
                </div>
            </div>
            <p><%= review.description %></p>
          </div>
        <% end %>
      </div>
      <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div class="alpaca-calendar"></div>
    </div>
  </div>
</div>
