<div class="banner">
  <div class="banner-content">
    <h1>allpacas.com</h1>
    <p>Your number 1 resource</p>
    <p>for alpaca rentals</p>
    <!--  avatars -->
    <div class="container">
      <div class="row">
        <%= image_tag("allpacas", class: "avatar-large")%>
        <%= image_tag("allpacas", class: "avatar-large")%>
        <%= image_tag("allpacas", class: "avatar-large")%>
      </div>
       <div class="row">
        <%= image_tag("allpacas", class: "avatar-large")%>
        <%= image_tag("allpacas", class: "avatar-large")%>
        <%= image_tag("allpacas", class: "avatar-large")%>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-wikipedia-w"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by the Alpaca Assembly GmbH Inc.
  </div>
</div>
