<div class="banner">
  <div class="banner-content">
    <h1>allpacas.com</h1>
    <p>Your number 1 resource</p>
    <p>for alpaca rentals</p>
    <!--  avatars -->
    <div class="container">
      <div class="row">
        <%= link_to image_tag("allpacas", class: "avatar-large"), alpacas_path %>
        <%= link_to image_tag("allpacas", class: "avatar-large"), alpacas_path %>
        <%= link_to image_tag("allpacas", class: "avatar-large"), alpacas_path %>
        <%= link_to image_tag("allpacas", class: "avatar-large"), alpacas_path %>
      </div>
       <div class="row">
        <%= link_to image_tag("allpacas", class: "avatar-large"), alpacas_path %>
        <%= link_to image_tag("allpacas", class: "avatar-large"), alpacas_path %>
        <%= link_to image_tag("allpacas", class: "avatar-large"), alpacas_path %>
      </div>
    </div>
  </div>
</div>
