<!-- navbar -->
<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag("allpacas", id: "logo")%>
  </a>
  <!-- searchbar -->

  <!-- We need to change this form into a simple form -->
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" class="form-control">
      <button type="submit" class="btn-yellow">Search</button>
    </div>
  </form>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item btn-green btn-primary">SIGN IN</a>
    <a href="" class="navbar-wagon-item btn-yellow btn-primary">SIGN UP</a>

    <!-- Profile picture with dropdown list -->
    <!-- <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/dfmore" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div> -->
  </div>
</div>

<div class="banner">
  <div class="banner-content">
    <h1>allpacas.com</h1>
    <p>Your number 1 resource</p>
    <p>for alpaca rentals</p>
    <!--  avatars -->
    <div class="container">
      <div class="row">
        <%= image_tag("allpacas", class: "avatar-large")%>
        <%= image_tag("allpacas", class: "avatar-large")%>
        <%= image_tag("allpacas", class: "avatar-large")%>
      </div>
       <div class="row">
        <%= image_tag("allpacas", class: "avatar-large")%>
        <%= image_tag("allpacas", class: "avatar-large")%>
        <%= image_tag("allpacas", class: "avatar-large")%>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-wikipedia-w"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by the Alpaca Assembly GmbH Inc.
  </div>
</div>
