<div class="banner">
  <div class="banner-content">
    <h1>allpacas.com</h1>
    <p>Your number 1 resource for alpaca rentals</p>
    <!--  avatars -->
    <div class="container">
      <div class="row avatarsss">
        <div class="avatar-box">
          <%=link_to alpacas_path, :action => 'go' do %>
          <div class="text">Weddings</div>
            <%= image_tag("alpaca_icon_06.png", class: "avatar-large") %>
          <% end %>
        </div>
        <div class="avatar-box">
          <%=link_to alpacas_path, :action => 'go' do %>
          <div class="text">Photoshoots</div>
            <%= image_tag("alpaca_icon_01.png", class: "avatar-large") %>
          <% end %>
        </div>
        <div class="avatar-box">
          <%=link_to alpacas_path, :action => 'go' do %>
          <div class="text">Go for walks</div>
            <%= image_tag("alpaca_icon_02.png", class: "avatar-large") %>
          <% end %>
        </div>
        <div class="avatar-box">
          <%=link_to alpacas_path, :action => 'go' do %>
          <div class="text">Cuddle-Buddies</div>
            <%= image_tag("alpaca_icon_03.png", class: "avatar-large") %>
          <% end %>
        </div>
      </div>
      <div class="row avatarsss">
        <div class="avatar-box">
          <%=link_to alpacas_path, :action => 'go' do %>
          <div class="text">Partyanimals</div>
            <%= image_tag("alpaca_icon_04.png", class: "avatar-large") %>
          <% end %>
        </div>
        <div class="avatar-box">
          <%=link_to alpacas_path, :action => 'go' do %>
          <div class="text">Talents</div>
            <%= image_tag("alpaca_icon_05.png", class: "avatar-large") %>
          <% end %>
        </div>
        <div class="avatar-box">
          <%=link_to alpacas_path, :action => 'go' do %>
          <div class="text">Others</div>
            <%= image_tag("alpaca_icon_06.png", class: "avatar-large") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
